.navbgContainer {
  width: 100%;
  /* background-color: var(--color-royalblue); */
}

.navContainer {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: sticky; */

  @media (max-width: 899px) {
    /* justify-content: space-between; */
  }

  overflow-y: hidden;
}

.logo {
  /* width: 200px; */
  padding: 1.5em 0;
}

.navBar {
  /* background-color: pink; */
  display: flex;

  @media (max-width: 899px) {
    display: none;
    position: absolute;
    top: 8em;
    left: 0;
    text-align: center;

    width: 100%;
    background: var(--color-royalblue);
    z-index: 1000;
    height: 85.9vh;
    overflow: hidden;
    /* scroll-behavior: none; */
  }

  /* @media (min-width: 650px) and (max-width: 899px) {
    display: none;
    position: absolute;
    top: 5.6em;
    left: 0;
    text-align: center;

    width: 100%;
    background: var(--color-royalblue);
    z-index: 1000;
    height: 100vh;
  }

  @media (max-width: 649px) {
    display: none;
    position: absolute;
    top: 5.6em;
    left: 0;
    text-align: center;
    width: 100%;
    background: var(--color-royalblue);
    z-index: 1000;
    height: 100vh;
  } */
}

.nav__ul {
  display: flex;

  @media (min-width: 650px) and (max-width: 899px) {
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    /* color: pink; */
  }

  @media (max-width: 649px) {
    /* .nav__ul{
      height: 100vh;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0;
      padding: 0;
    } */
    /* color:orange; */
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }
}

.nav__li {
  list-style: none;
  padding: 0.5em 1em;
  /* font-size: 10px; */
  /* font-family: var(--titillium-font); */
}

.nav__liCtcbtn {
  display: none;
  list-style: none;
  padding: 0.5em 1em;
  /* font-family: var(--titillium-font); */

  @media (min-width: 650px) and (max-width: 899px) {
    display: block;
  }

  @media (max-width: 649px) {
    display: block;
  }
}

.nav__toggle {
  display: none;

  @media (min-width: 650px) and (max-width: 899px) {
    display: inline-block;
    cursor: pointer;
    font-size: 1.75rem;

    color: white;
    transition: opacity 250ms ease;
    position: absolute;
    right: 1.5rem;
  }

  @media (max-width: 649px) {
    display: inline-block;
    cursor: pointer;
    font-size: 1.75rem;

    color: white;
    transition: opacity 250ms ease;
    position: absolute;
    right: 1.5rem;
  }
}

.active {
  display: block;
  /* @media (max-width: 899px) {
    display: block;
  } */
}
.linkWithBar {
  position: relative;
  text-decoration: none;
  /* color: white; */
  padding-bottom: 2px;
  /* font-size: 16px; */
}

/* Create the bar and position it at the bottom of the link */
.linkWithBar::after {
  content: "";
  position: absolute;
  bottom: -2.5px;
  left: 0;
  height: 2px;
  width: 0;
  background-color: var(--color-teal);
  transition: width 0.3s ease-in-out;
}

/* Define the hover state for the link */
.linkWithBar:hover::after {
  width: 100%;
}

.dsktopbtn {
  @media (max-width: 899px) {
    display: none;
  }
}

.mobileNav {
  display: none;
  overflow-y: hidden;

  @media (max-width: 899px) {
    position: absolute;
    top: 8em;
    left: 0;
    /* bottom: 0; */
    text-align: center;
    width: 100%;
    background: var(--color-royalblue);
    z-index: 10000000;
    /* height: 86.3vh; */
    /* height: 150%; */
    /* height: 100vh; */
    height: 100%;
    overflow-y: auto;

    &.active {
      display: block;
    }

    .nav__ul {
      align-items: center;
    }
  }

  /* &.active {
    display: block;
  } */
}

.mobileLinkContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100%; */
  overflow-y: hidden;
  /* z-index: 10000000; */
  /* height: 100vh; */
  font-size: x-small;
}

.navBtn {
  @media (max-width: 899px) {
    margin-right: 3em;
  }
}
