/*footer section*/

  .footer__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: center;
    margin-top: 2em;
    padding-bottom: 2em;
  }
  
  .footer__column {
    justify-self: center;
  }
  
  .footer__links {
    display: flex;
    gap: 2em;
  }
  
  .footer__links > li {
    list-style: none;
  }
  
  .footer__cta {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 3rem;
  }
  
  .footer__logo {
    justify-self: start;
  }
  
  .footer__text {
    font-size: 14px;
  }
  
  .footer__btn {
    border: 0;
    color: white;
    background: var(--navy);
    padding: 0.3em 3em;
  }
  
  .footer__contact2 {
    justify-self: end;
  }
  
  .footer__contact {
    font-weight: 800;
    margin-bottom: 0.25em;
  }
  
  .width{
    width: 80%;
    margin: 0 auto;
  }

  .footer__social a:hover {
    transform: scale(1.2);
    color: #1abc9c; /* adjust this value as needed */
  }
  
  .footer__social a {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    transition: transform 0.2s ease-in-out;
  }
  
  .footer__social a i {
    font-size: 1em;
  }


  .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.35em;
    font-size: small;
    margin: 0.25em;
    /* background-color: white; */
  }


  @media (min-width: 650px) and (max-width: 899px) {
  
  
    .footer__container {
      grid-template-columns: 1fr;
      gap: 2em;
      margin: 0;
    }
  
    .footer__column {
      justify-self: center;
      padding: 1em 2em;
      text-align: center;
    }
  
    .footer__logo {
      justify-self: center;
      margin-left: 2em;
    }
  
    .footer__links {
      display: block;
      margin: 0;
      padding: 0;
    }
  }

  @media (max-width: 649px) {
 
  
    .footer__container {
      grid-template-columns: 1fr;
      gap: 2em;
      margin: 0;
    }
  
    .footer__column {
      justify-self: center;
      padding: 1em 2em;
      text-align: center;
    }
  
    .footer__logo {
      justify-self: center;
      margin-left: 2em;
    }
  
    .footer__links {
      display: block;
      margin: 0;
      padding: 0;
    }
  }